name: test
on:
  push:
    branches-ignore: [ main ]
    paths:
      - '**.sh'
      - Dockerfile
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        uses: ./
      - name: Upload
        uses: actions/upload-artifact@v3.0.0
        with:
          name: v1.${{ env.minor }}.${{ env.patch }}
          path: /home/runner/work/_temp/_github_home/nginx.deb
